[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
isort = {extras = ["pipfile"], version = "*"}
mypy = "*"
flake8 = "==3.8.0a2"  # needed for python 3.8 support
black = "*"
hacking = "*"
flake8-bugbear = "*"
coverage = "*"
sqlalchemy-stubs = "*"

[packages]
fastapi = "*"
email-validator = "*"
uvicorn = "*"
orjson = "*"
databases = "*"
gunicorn = "*"
toml = "*"
asyncpg = "*"
argon2-cffi = "*"
pyjwt = ">=1.0.1"
python-multipart = "*"
alembic = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
